html {
	font-size: small;
}

body {
	margin: 1em;
}

.hidden {
	display: none;
}

.button {
	display: block;
	width: 100%;
	margin: 3% auto;
	padding: 4px;
	text-align: left;
	cursor: pointer;
}

.idp:hover {
	background-color: #CFF2F2;
}

.idp {
	background-color: #E5F2F2;
}

.reset {
	margin-top: 1em;
	background-color: #FBFBC9;
}

.reset:hover {
	background-color: #EAEA9D;
}

.logo-wrapper {
	width: 200px;
	height: 75px;
	vertical-align: middle;
	margin-right: 1em;
}
.logo {
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 75px;
	vertical-align: middle;
}
